.idea/
__pycache__
Municipalities Maps/
NJScrapper Notes 10-16-23 .txt
NJScrapper Notes 11-6-23 .txt
scrap paper.py
Logs/
Saved Data/
Old Codes/
Area_Search_Update.py
NJR10kZips/
credentials.json
gmail-quickstart.py
NJRScrapper Notes.txt
scrap paper.py
send_email.py
token.json
Update_Dictionaries.py
NJRScrapper Notes.txt
NJ Realtor Project Documentation.txt
NJ Realtor Project Documentation.docx
NJRealtors_ML_Project
nj_realtor_dashboard.py
